amqp==2.3.2
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.13
django-cas-ng==3.6.0
django-cors-headers==2.4.0
django-environ==0.4.5
django-filter==2.0.0
django-render-block==0.5
django-sendgrid-v5==0.7.0
django-templated-email==2.2.0
djangorestframework==3.9.0
djangorestframework-camel-case==0.2.0
future==0.17.1
html2text==2018.1.9
idna==2.7
intervaltree==2.1.0
itypes==1.1.0
Jinja2==2.10
kombu==4.2.2.post1
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.0
psycopg2-binary==2.7.6.1
Pygments==2.3.0
python-cas==1.4.0
python-http-client==3.1.0
pytz==2018.7
requests==2.20.1
sendgrid==5.6.0
six==1.11.0
sortedcontainers==2.1.0
uritemplate==3.0.0
urllib3==1.24.1
uWSGI==2.0.17.1
vine==1.1.4
XlsxWriter==1.1.2
